@media(max-width:600px) {

    .header {
        &__logo {
            &-right {
                font-size: 15px;
            }
        }
        &__logoimage {
            & > img {
                width: 200px;
            }
        }
    }

    .hero {
        

        &__title {
            &-back {
                height: 190px;
            }
        }
    }

    
    .main {
        &__btn2 {
            padding: 220px 0 100px 0;
        }
    }
}

@media(max-width:635px) {

    .hero {

        &__title {
            &-back {
                height: 190px;
            }
        }
    }
}