html {
	scroll-behavior: smooth;
}
body {
    font-family: "Noto Sans JP", sans-serif;
  }
  img {
    max-width: 100%;
    vertical-align: bottom;
  }
  .font-sm {
    font-size: 14px;
  }
  .font-md {
    font-size: 20px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 26px;
  }
  .mb-sm {
    margin-bottom: 16px !important;
  }
  .mb-lg {
    margin-bottom: -55px !important;
  }
  .pt-lg {
    padding-top: 170px;
  }
  .pb-sm {
    padding-bottom: 16px;
  }
  .pb-lg {
    padding-bottom: 80px !important;
  }
  .content-width {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }

  .btn {
    &__a {
      color: #ffffff;
      &:hover {
        text-decoration: none;
        color: #ffffff;
      }
    }
    &__matchform {
       background-color: #ffffff;
       width: 300px;
       height: 45px;
       border-radius: 40px;
       text-align: center;
       line-height: 45px;
       position: relative;
       color: #c7000b;
       display: block;

	   & img {
		position: relative;
		bottom: 31%;
		width: 20px;
	   }

       & > span {
         font-size: 14px;
       }
      
       &:hover {
           text-decoration: none;
           color: #c7000b;
       }
   
    }
  }

  .btn {
    &__a {
      color: #ffffff;
      &:hover {
        text-decoration: none;
        color: #ffffff;
      }
    }
    &__matchform-2 {
       background-color: #ffffff;
       width: 300px;
       height: 45px;
	   border: 2px solid #c7000b;
       border-radius: 40px;
       text-align: center;
       line-height: 43px;
       position: relative;
       color: #c7000b;
       display: block;
	   margin: 0 auto;

	   & img {
		position: relative;
		bottom: 34%;
		width: 20px;
	   }

       & > span {
         font-size: 14px;
       }
      
       &:hover {
           text-decoration: none;
           color: #c7000b;
       }
   
    }
  }
  .btn {
    &__a {
      color: #ffffff;
      &:hover {
        text-decoration: none;
        color: #ffffff;
      }
    }
    &__matchform-3 {
       background-color: #c7000b;
       width: 300px;
       height: 45px;
       border-radius: 40px;
       text-align: center;
       line-height: 43px;
       position: relative;
       color: #ffffff;
       display: block;
	   margin: 0 auto;

	   &:hover {
		   color: #ffffff;
	   }

	   & img {
		position: relative;
		bottom: 30%;
	   }

       & > span {
         font-size: 14px;
       }
      
       &:hover {
           text-decoration: none;
         
       }
   
    }
  }
  .btn {
    &__a {
      color: #ffffff;
      &:hover {
        text-decoration: none;
        color: #ffffff;
      }
    }
    &__matchform-4 {
		position: fixed;
		bottom: 0;
    	background-color: #0A3395;
    	width: 100%;
    	height: 80px;
    	text-align: center;
    	line-height: 43px;
    	color: #ffffff;
    	display: none;
    	margin: 0 auto;

		
		&:hover {
			color: #ffffff;
		}

	   & img {
		position: relative;
		bottom: 30%;
	   }

       & > span {
         font-size: 14px;
       }
      
       &:hover {
           text-decoration: none;
         
       }
   
    }
  }

.header {
	width: 100%;
    background-color: #1e1e1e;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
	position: fixed;
	z-index: 100;

    &__inner {
        @extend .content-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: #ffffff;
    	font-size: 12px;
    	padding-bottom: 10px;
    	letter-spacing: 2px;
    	padding-left: 20px;
    }

    &__logo {
		& > a {
			&:hover {
				text-decoration: none;
				color: #0A3395;
			}
		}
        &-right {
            display: inline-block;
            @extend .font-md;
            color: #ffffff;
            position: relative;
            top: 8px;
            left: 10px;
        }
        &-left {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
    }

}

.hero {
	width: 100%;
	position: relative;
	padding-top: 90px;

	&__br {
		display: none;
	}

	&__images {
		// display: flex;
		// flex-direction: row;
		// flex-wrap: nowrap;
		// align-items: center;
		// justify-content: center;

		&-left {
			background-image: url(../image/hero_baner01.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;

			&::after {
				content: '';
				display: block;
				padding-top: 37%;
			}
		}
		// &-right {
		// 	background-image: url(../image/hero_baner02.png);
		// 	background-position: center;
		// 	background-repeat: no-repeat;
		// 	background-size: cover;
		// 	width: 50%;

		//     &::after {
		// 		content: '';
		// 		display: block;
		// 		padding-top: 70%;
		// 	}
		// }
	}

	&__title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			height: 60%;
    		text-align: center;
		
		&-back {
			background-color: #ffffff;
			width: 500px;
			height: 180px;
			opacity: 0.8;
			position: absolute;
			bottom: -5%;
			left: 50%;
			transform: translate(-50%,-50%);

			&-sp {
				display: none;
			}
		}

		&-main {
			font-weight: bold;
			letter-spacing: 1.5px;
			font-size: 24px;
			position: relative;
    		bottom: 15px;
			
			&-top {
				color:#1e1e1e;
			}
			&-red {
				color: #c7000b;
			}

			&-p {
				&-sp {
					margin-bottom: 0;
				}
			}

			&-sp {
				& p {
				}
			}

		}
		& p {
			font-size: 12px;
			position: relative;
			bottom: 5px;
			font-weight: bold;
    		letter-spacing: 2px;
			line-height: 1.8;
		}
	}
}

.main {
	&__text {
		text-align: center;
		padding-top: 50px;

		& > p {
			font-size: 14px;
			margin: 0;
			letter-spacing: 1.5px;
		}
	}

	&__btn {
		padding: 30px 0 70px 0;
	}
	&__btn2 {
		padding: 170px 0 100px 0;
	}
}

table {
	width: 50%;
	display: inline-table;
}
tr {
	height: 40px;
}
th {
	width: 15%;
	border: 1px solid black;
	background-color: #1e1e1e;
	color: #ffffff;
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
}
td {
	width: 35%;
	border: 1px solid black;
	text-align: left;
	padding-left: 20px;
	font-size: 14px;
}

.house {

	&__images {
		margin-top: 40px;
	}

	&__table {
		display: inline-table;
		width: 100%;
		margin-top: 60px;
	}

    &__ttl {
		display: inline-block;
		color: #0A3395;
		position: relative;
		padding: 12px 12px 3px 20px;

		&::before {
			content: '';
			position: absolute;
			top:16px;
			left: 0px;
			background-color: #0A3395;
    		width: 13px;
    		height: 13px;
		}
	}

	&__txt {
		display: block;
		padding-left: 20px;
		font-size: 14px;
		font-weight: normal;
	}

	&__main {
		padding-bottom: 80px;
		text-align: center;
	}

	&__inner {
		width: 80%;
		margin: 0 auto;
		max-width: 1200px;
	}

	&__title {
		background-color: #323232;
		height: 50px;
		color: #ffffff;
		line-height: 50px;
    	text-align: center;
		letter-spacing: 1.5px;
		font-size: 25px;
	}

	&__center {
		padding-top: 30px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
	}

	&__left {
		width: 40%;

		&-wrapper {
			padding-bottom: 5px;
		}

		&-title {
			font-size: 16px;
			color: #0A3395;
			position: relative;
			padding-left: 25px;
			margin-bottom: 5px;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 3%;
				transform: translate(-50%, -50%);
				background-color: #0A3395;
				width: 13px;
				height: 13px;
			}
		}


		&-des {
			font-size: 14px;
			margin-left: 25px;
			margin-bottom: 10px;
			letter-spacing: 1.5px;
		}
	}

	&__right {
		width: 60%;
		padding-top: 40px;

		&-image01 {
			background-image: url(../image/shizuoka/outside_img.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;

			&::after {
				content: '';
				display: block;
				padding-top: 75%;
			}
		}


		&-underimage {
			padding-top: 10px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			& > a {
				width: 45%;
			}
		}

		&-image02 {
			background-image: url(../image/fukuroi/outside_img.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;

			&::after {
				content: '';
				display: block;
				padding-top: 75%;
			}
		}
	}

	&__block {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content:space-between;
		width: 100%;
		margin-top: 70px;
		&-left {
			width: 40%;
			display: flex;
			flex-wrap: wrap;
		}
		&-left01 {
			width: 30%;
			margin-left:15px;
			margin-bottom: 15px;
    		box-sizing: border-box;

			&:first-child {
				margin-left: 0;
			}
			&:nth-child(4) {
				margin-left: 0;
			}

			& > img {
				width: 100%;
			}
		}

		&-right {
			// width: 60%;
		}
		&-right01 {
			width: 650px;

			& > img {
				width: 100%;
			}
		}
	}
}

.item {
	&__th {
		display: block;
		position: relative;
		padding: 0 0 0 20px;
		color: #0A3395;
		font-weight: normal;
		width: 200px;

		&::before {
			content: '';
			position: absolute;
			top:5px;
			left: 0px;
			background-color: #0A3395;
    		width: 13px;
    		height: 13px;
		}
	}

	&__td {
		display: block;
		padding: 5px 20px 15px;
		font-size: 14px;
		
	}
}

.form {
	padding-top: 90px;
    margin-top: -90px;

	&__title {
		width: 100%;
		height: 100px;
		background-color: #c7000b;
		color: #ffffff;
		font-size: 23px;
		text-align: center;
    	line-height: 100px;
		letter-spacing: 1.5px;
	}

	&__inner {
		width: 80%;
		margin: 0 auto;
		max-width: 1200px;
	}

	&__main {
		padding-top: 60px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}

	&__left {
		background-image: url(../image/form-left.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;

		&::after {
			content: '';
			display: block;
			padding-top: 40%;
		}
	}

	&__right {
		width: calc(50% - 60px);
		position: relative;
	}

	&__text {
		position: absolute;
    	top: 50%;
    	left: 0;
		transform: translateY(-50%);

		& > p {
			margin: 0;
			font-size: 14px;
		}
	}

	&__image {
		text-align: right;
	}

	&__wrapper {
		padding-top: 100px;
		position: relative;

		& div {
			padding-bottom: 20px;
		}
	}

	&__choice {
		&-image1 {
			position: absolute;
			top: 100px;
			left: 63%;
			width: 37%;
		}
		&-image2 {
			position: absolute;
			top: 155px;
			left: 63%;
			width: 37%;
		}
		&-image3 {
			position: absolute;
			top: 207px;
			left: 63%;
			width: 37%;
		}
	}

	&__name {
		width: 20%;
		margin: 0;
	}
	&__select {
		height: 35px;
    	width: 42%;
    	background-image: url(../image/yajirushi.png);
    	background-repeat: no-repeat;
    	background-size: 12px 10px;
    	background-position: right 10px center;
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
    	padding: 0 20px;
	}
	&__input {
		width: 42%;
		height: 35px;
	}
	&__textarea {
		height: 140px;
		width: 80%;
    	float: right;
    	position: relative;
    	left: 5px;
	}
}

.faq {
	margin-top: 100px;
	&__inner {
		width: 90%;
		margin: 0 auto 120px;
		max-width: 1200px;
	}

	&__title {
		text-align: center;
		&-h1 {
			font-size: 30px;
		}
	}

	&__main {
		max-width: 900px;
		margin: 50px auto 50px;

		&:last-child {
			margin-bottom: 0;
		}

		&-question {
			background-color:#f2f2f2;
			padding: 13px;
			border-radius: 23px;
		}

		&-span {
			font-size: 20px;
			margin-left: 30px;

			&-head {
				font-size: 24px;
				margin-right: 20px;
				color: #c7000b;
				font-weight: bold;
			}
		}

		&-answer {
			width: 90%;
    		margin: 30px auto;
			letter-spacing: 1.5px;
			line-height: 1.7;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-p {
			&-txt {
				display: inline-block;
    			width: 80%;
				margin-bottom: 0;
				color: #c7000b;
				font-weight: bold;
			}
		}
	}
}

.footer {
	background-color: #1e1e1e;
	width: 100%;
	height: 170px;
	color: #ffffff;
	position: relative;
	

	&__page {
		position: fixed;
		bottom: 3%;
		right: 0;
	}

	&__inner {
		position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
		width: 90%;
    	text-align: center;
    	margin: 0 auto;

		&-flex {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			position: relative;
    		bottom: 20px;

			& > a:hover {
				text-decoration: none;
			}
		}
	}

	&__title {
		color: #ffffff;
    	font-size: 12px;
    	padding-bottom: 10px;
    	letter-spacing: 2px;
	}

	&__des {
		&-flex {
			text-align: left;
			display: flex;
			flex-direction: row;
			justify-content: center;
			position: relative;
    		top: 10px;
		}

		&-adress {
			font-size: 12px;
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__company {
		text-align:left;
		font-size: 14px;
	}

	&__copyright {
		font-size: 12px;
		position: absolute;
    	bottom: -40px;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}

	&__logoimages {
		display: inline-block;
	}
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  .container {
	margin: 50px auto 0;
	max-width: 500px;
  }
  .main-img {
	height: 344px;
	width: 100%;
  }
  .main-img img {
	height: auto;
	width: 100%;
  }
  .sub-img {
	display: flex;
  }
  .sub-img li {
	margin-right: 2%;
	width: calc(96% / 3);
  }
  .sub-img li:nth-child(3n) {
	margin-right: 0;
  }
  .sub-img {
	height: 107px;
  }
  .sub-img img {
	height: 107px;
	width: 100%;
  }



